* {
    font-family: "Roboto", serif;
}

.header, .hero, .footer {
    background-color: #1F2937;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.header > p, a{
    font-size: 24px;
    color: #F9FAF8;
}

.header > a{
    font-weight: lighter    ;
}

.header > p{
    font-weight: bolder;
}

.hero-left{
    width: 40%;
}

.hero-left > p{
    font-size: 18px;
    color: #E5E7EB;
}



button{
    border-radius: 6px;
    border: 0px solid #3882F6;
    background-color: #3882F6;
    color: white;
    padding: 10px;
    width: 100px;
    font-size: 18px;
}

h2{
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1F2937;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    gap: 20px;
    padding: 10px 50px 10px 50px;
}

.hero{
    display: flex;
    gap: 40px;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 100px 100px 100px 100px;
}

img{
    height: 100px;
}

.hero-image{
    height: 300px;
    padding: 0;
}

.information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    height: 500px;
}

ul{
    display: flex;  
    justify-content: space-evenly;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0 50px 0 50px;
}

.info-item{ /* styles for the info items as list items, separated to not affect the navbar items */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote{
    background-color: #E5E7EB;
}

.quote > blockquote{
    font-size: 36px;
    font-weight: lighter;
    font-style:italic;
    color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 100px 100px 0 100px;
}

.citation{
    display: flex;
    justify-content: right;
    padding: 0 200px 100px 200px;
    font-weight: bold;
    font-size: 30px;
}

.call-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.call-proper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 75%; 
    height: 200px;
    background-color: #3882F6;
    border-radius: 8px;
    color: white;
}

.call-text{
    width: 40%;
}

h3{
    font-size: 30px;
    line-height: 20px;
    margin: 0 0 10px 0;
    padding: 0;
}

.call-text > p{
    font-size: 20px;
    color: #eee;
    padding: 0;
    margin: 0;
}

.business-button{
    border: 2px solid white;
    width: 150px;
    cursor: pointer;
}

.footer{
    display: flex;
    justify-content: center;
    color: white;
    padding: 30px 0 30px 0;
}